.top-left-buttons {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    gap: 8px;
  }
  
  .small-button {
    padding: 5px 10px;
    font-size: 1rem;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .small-button:hover {
    background-color: #ddd;
  }  

  .event-log {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 250px;
    height: 400px;
    background-color: #457595;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid #213f7a; 
    overflow-y: auto;
  }
  
  .event-log h2 {
    font-size: 16px;
    margin-bottom: 8px;
    border-bottom: 1px solid #fbfbfb;
    padding-bottom: 5px;
  }
  
  .event-log p {
    font-size: 14px;
    color: white;
  }  

  .player-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
  }
  
  .player-card {
    width: 150px;
    height: 120px;
    padding: 10px;
    background-color: #213f7a;
    border-radius: 8px;
    text-align: center;
    color: white;
    font-weight: bold;
  }

  .player-card p {
    margin: 5px 0;
    font-size: 1rem;
  }

  .player-card h2 {
    font-size: 1.2rem;
  }
  
  .card-placeholders {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 5px;
  }
  
  .card-placeholder {
    width: 30px;
    height: 40px;
    background-color: white;
    border-radius: 4px;
  }

  .my-player-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  

  .my-player-card {
    width: 300px;
    padding: 15px;
    background-color: #8096c1; /* Dark background */
    color: white;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
  }
  
  .my-player-coins {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .my-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .my-card {
    width: 80px;
    height: 120px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 10px;
  }
  
  /* Different colors for different card types */
  .card-captain {
    background-color: #62c1d4; /* Blue */
  }
  
  .card-ambassador {
    background-color: #20cb61; /* Orange */
  }
  

/* Button Container */
.action-buttons-container {
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: #404449;
    border-radius: 10px;
  }
  
  /* Individual Button Styles */
  .income-button {
    background-color: #797f86;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 8px;
  }
  
  .coup-button {
    background-color: #797f86;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 8px;
  }
  
  .foreign-aid-button {
    background-color: #797f86;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 8px;
  }
  
  .steal-button {
    background-color: #62c1d4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 8px;
  }

  .assassinate-button {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 8px;
  }

  .tax-button {
    background-color: #742d9a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 8px;
  }

  .exchange-button {
    background-color: #20cb61;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 8px;
  }

  button:hover {
    opacity: 0.8;
  }
  