.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.card-image { 
    border-radius: 10px;
    box-shadow: 0 0.4vh 1vw rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    width: 100%;
    max-width: 120px;
    height: auto;
}

.card-image:hover {
    transform: translateY(-5px);
}

.card-title {
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 0.5vh;
    color: inherit;
}

/* Player's card should be larger */
.player-station .card-image {
    max-width: 150px;
}

.player-station .card-title {
    font-size: 1.1rem;
}

.card-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .card-tooltip {
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    font-size: 0.85rem;
    text-align: center;
    border-radius: 8px;
    padding: 8px;
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    z-index: 10;
    transition: opacity 0.3s ease;
    pointer-events: none;
  }
  
  .card-wrapper:hover .card-tooltip {
    visibility: visible;
    opacity: 1;
  }
  