/* .coin-image {
    width: 25%;
    height: 25%;
} */
.wallet-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0.5vh 0.25vw; */
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.coin-count {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.5vh;
}

/* TODO: use percentages and vh/vw instead of rem */

.coin-image {
    width: 4rem;
    height: 4rem;
}

/* Opponent wallet should be smaller */
.opponent-station .wallet-container {
    padding: 0.3vh 0.8vw;
}

.opponent-station .coin-count {
    font-size: 2rem;
}

.opponent-station .coin-image {
    width: 3rem;
    height: 3rem;
}

/* Player wallet styling */
.player-station .wallet-container {
    padding: 0.6vh 1.2vw;
}