.station {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* make sure cards are displayed in a row */
.cards-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}