/* Global Styles */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

button {
  width: 90%;
  padding: 12px;
  background-color: #1e88e5;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1565c0;
}

.create-account-button {
  width: 90%;
  padding: 12px;
  background-color: #0b4081;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.create-account-button:hover {
  background-color: #0b2061;
}

/* Responsive Design */
@media (max-width: 400px) {
  form {
      width: 90%;
  }
}
