
/* Header Styling */
body {
    background-color: #e3f2fd;
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

h1 {
    font-size: 4.5rem;
    font-family: "Orbitron";
    margin-bottom: 10px;
    color: #1e88e5;
  }
  

h2 {
    font-size: 2.8rem;
    margin-bottom: 15px;
    color: #90caf9;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 1.5rem;
    margin-top: 20px;
    color: #ecf0f1;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    opacity: 0.8;
  }

  form {
    width: 350px;
    padding: 25px;
    background: #bbdefb;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #90caf9;
    border-radius: 6px;
    font-size: 16px;
    background-color: white;
    color: black;
    text-align: left;
    transition: all 0.3s ease;
  }

  input:focus {
    border-color: #1e88e5;
    outline: none;
    box-shadow: 0px 0px 5px rgba(30, 136, 229, 0.5);
  }
  