.joinContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.joinContainer h2 {
  font-size: 3.5rem;
  color: #e0e6ff;
  margin-bottom: 20px;
}

.joinContainer input,
.joinContainer button {
  width: 300px;
  max-width: 80%;
  padding: 14px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #3e71a8;
  margin-bottom: 15px;
  text-align: center;
  background-color: #122238;
  color: #e0e6ff;
}

.joinContainer input::placeholder {
  color: #aaa;
}

.joinContainer button {
  background-color: #2a3b54;
  color: #7dcff7;
  border: 1px solid #7dcff7;
  cursor: pointer;
  transition: all 0.3s ease;
}

.joinContainer button:hover {
  background-color: #3e4e6c;
  box-shadow: 0 0 10px rgba(125, 207, 247, 0.3);
}